@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://css.gg/home.css');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    overflow-wrap: break-word;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
h1 {
    font-size: 2vw;
}
p {
    font-size: 1vw;
}

/*
 * Main content 
 */
.screen {
    padding-left: 7vw;
}
#home-screen {
    width: 100%;
    height: 100vh;
}
.fixed-background {
    width: 100vw;
    height: 100vh;

    background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    z-index: -1;
}
#centered-container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    pointer-events: none;
    color: #fff;
}
#centered-container h1 {
    font-size: 3vw;
}
#centered-container p {
    font-size: 1.5vw;
}

/*
 * About
 */
#about-screen {
    width: 40vw;
    height: 100vh;
    background: linear-gradient(135deg,#1d1e21 0,#3e4246 100%);
}

#about-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skillbox{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}
.skill-text{
    display: flex;
    justify-content: space-between;
}
.skill-bar{
    background: #282828;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid aquamarine;
    border-radius: 2px;
}
.skill_level{
    background: aquamarine;
    width: 100%;
    height: 10px;
}

/*
 * Real Hobbies
 */
 #test-screen {
    width: 40vw;
    height: 100vh;
    background: linear-gradient(37.5deg,#1d1e21 0,#3e4246 100%);
}

/*
 * Hobbies
 */
#hobbies-screen {
    height: 70vh;
    width: 100%;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    
    background: linear-gradient(135deg,#1d1e21 0%, #3e4246 100%);
}
#hobbies-grid {
    width: 100%;
    margin-top: 5vh;

    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(100px, 20vw));
    grid-gap: 1vw;
}
.grid-element {
    height: 20vh;
}
.grid-element div {
    height: 60%;
}
.grid-element h1 {
    font-size: 100%;
    text-align: center;
}

/*
 * Sidebar 
 */
#sidebar-menu {
    width: 7vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: #181818;
    white-space: nowrap;
    color: #fff;
}
#sidebar-menu ul {
    width: 100%;
    height: 100%;
}
#sidebar-menu ul > li {
    width: min-content;
    height: 5%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1vw;
    font-weight: bold;
}

/*
 * Global
 */
.text-soft {
    color: #fff;
    font-weight: bold;
    opacity: .5;
}
.active {
    color: aquamarine;
}
.ghost-text {
    margin-left: 4vw;
    font-size: 4vw;
    line-height: 120px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .04em;
    white-space: nowrap;
    opacity: .2;
}

h1.ghost-text {
    width: max-content;
}

.upper-right-corner {
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 0;
    right: 0;

    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
.bottom-left-corner {
    position: absolute;
    width: 5vw;
    height: 5vw;
    bottom: 0;
    left: 0;

    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.screen-container {
    position: relative;
    width: 90%;
    height: 85%;
    margin: auto;
    padding: 5%;
}

/*
 * Media
 */
@media screen and (min-width: 445px) {
    #hobbies-screen {
        height: 40vh;
        margin-top: 60vh;
    }
}

/*
 * Icon
 */
.sports-icon {
    background: url('https://api.iconify.design/ic/outline-sports-soccer.svg?color=white') no-repeat center center / contain;
}
.games-icon {
    background: url('https://api.iconify.design/dashicons/games.svg?color=white') no-repeat center center / contain;
}
.moutain-icon {
    background: url('https://api.iconify.design/maki/mountain.svg?color=white') no-repeat center center / contain;
}
.tech-icon {
    background: url('https://api.iconify.design/clarity/internet-of-things-line.svg?color=white') no-repeat center center / contain;
}
.recycle-icon {
    background: url('https://api.iconify.design/bi/arrow-clockwise.svg?color=white') no-repeat center center / contain;}